html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("./whataview.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header, .main, .footer {
    display: flex;
}


.header {
    flex-direction: row;
    background-color: #230C33;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
}

.headerTitle {
    color: white;
}

.headerBox {
    margin: 0px 20px 0px 20px;
}

.headerSearchInput {
    padding: 10px;
    width: 200px;
    border: none;
}

.headerSearchButton {
    padding: 10px;
    border: none;
    background-color: #592E83;
    color: white;
    font-family: monospace;
}

.headerSearchButton:hover {
    background-color: #47256A;
}

.headerUnitButton {
    padding: 10px;
    border: none;
    background-color: #592E83;
    color: white;
    font-family: monospace;
}


.headerUnitButton:hover {
    background-color: #47256A; 
}


.main {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    font-family: monospace;
    color: white;
    font-size: 24px;
    text-shadow: 2px 0 gray;
    margin: 100px;
}


.mainCurrentWeather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainCurrentWeatherTemperature {
    font-size: 64px;
    padding: 10px;
}

.mainCurrentWeatherBox {
    display: flex;
    flex-direction: column;
}

.mainDailyWeather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mainDailyWeatherTemperatureMax {
    font-size: 32px;
}

.mainDailyWeatherTemperatureMin {
    font-size: 16px;
}

.mainDailyWeatherContent {
    display: flex;
    flex-direction: row;
}

.mainDailyWeatherDayBox {
    margin: 15px;
}

.mainHourlyWeather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHourlyWeatherContent {
    display: flex;
    flex-direction: row;
}


.mainHourlyWeatherHourBox {
    margin: 15px;
}

.footer {
    background-color: #230C33;
    justify-content: center;
    font-family: monospace;
    color: white;
}

.footerBox1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}